@charset "UTF-8";
html {
	overflow-y: scroll; /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}
body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
/* ///////////////////////// */


div {
	border: solid 8px red;
	box-sizing: border-box;
  
	text-align: center;
	line-height: 100px;
	font-weight: bold;
	font-size: 60px;
  }
  .box2, .box3 {
	float: left;
	border-color: yellow; }
	.boxA {
		border: none;
		&:after {
		  content: "";
		  display: block;
		  clear: both;
		}
	  }

	  .box2, .box3 {
		float: left;
		border-color: yellow;
		width: 50%;  /** 横幅50% **/
		}