
body {
	background: rgb(255, 255, 255);
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}





.reslts1 {
    margin-left: 8%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2%;
}

.img0{
    margin-left: 10%;
    display: flex;
    width: 80%;
    height: 80%;
    display: inline-block;
    text-align: center;
}

h1{
    text-align:center;
}

h2{ 
    font-size: 30px;
    color: red;
    text-align:center;
}

.element{
    margin-top: 3%;
    margin-left: 10%;
    display: flex;
    width: 80%;
    display: inline-block;
}
.img1{
    display: flex;
    width: 30%;
    height: 30%;
    margin-left: 50px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgb(52, 45, 47);
}

.img3{
    display: flex;
    margin-top: 10%;
    width: 20%;
    height: 20%;
    display: inline-block;
    
}

.img2{
    display: flex;
    width: 30%;
    height: 30%;
    display: inline-block;
    border-radius: 10px;
  
    border: 1px solid rgb(52, 45, 47);
}

.element{
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2%;
}

h3{
    font-size: 20px;
    color: blue;
    text-align:center;
} 

h4{
    font-size: 20px;
    color: blue;
    text-align:left;
}

p{
    font-size: 20px;
    color: black;
    text-align:left;
    padding: 10px;
    border: 1px solid black;
}

.explain2{
    margin-left: 5%;
    width: 75%;
    height: 75%;
}

h5{
    font-size: 20px;
    color: blue;
    text-align:left;
}

p{
    font-size: 20px;
    color: black;
    text-align:left;
    padding: 10px;
    border: 1px solid black;
}

.explain3{
    margin-left: 5%;
    width: 75%;
    height: 75%;
    text-decoration-line: underline ;
}

.explain{
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    text-align:left;
}

h6{
    font-size: 20px;
    color: blue;
    text-align:center;
}

.explain4{
    margin-top: 1%;
    margin-left: 3%;
    width: 50%;
    height: 50%;
    margin-bottom: 5%;
}

.explain7{
    margin-top: 2%;
    width: 25%;
    height: 25%;
    margin-bottom: 10%;
  }

.explain6{
    margin-top: 1%;
    width: 99%;
    height: 99%;
    margin-bottom: 1%;
}

.gazou{
    width: 8%;
    text-align:center;
}
