@charset "UTF-8";
html {
	overflow-y: scroll;
}
/* リセットおまじない--------------------------------- */

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}

body {
	background: rgb(244, 246, 182);
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}


a {
	outline: none;
	color: inherit;
	text-decoration: none;
}

img {
	border: 0px;
	vertical-align: bottom;
}

/* --------------------------------------------------- */

body {
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
}


div{
	text-align: center;
	line-height: 100px;
	font-weight: bold;
	font-size: 20px;
}


*{
	box-sizing:border-box;
  }


.wrapper{
  width: 100%;
  max-width: 100%;
  margin:0 auto;
  font-family: cursive;
  /* background-image: url(../img/ピンクと白とオレンジ\ スキンケア\ 美容\ ファッション\ YouTubeのエンディング動画.gif); */
}


.container{
  background-image: url(../img/ピンクと白とオレンジ\ スキンケア\ 美容\ ファッション\ YouTubeのエンディング動画.gif);
  max-width: 1000px; 
  margin:0 auto;
}


.header1{
	background-color:yellow;
	color:#111;
}


.header2{
	background-color:yellow;
	color:#111;
	background-image: url(../img/ゆるキャラ白書ロゴ\ 小.png);
}
.header2 img{
    width:200px;
    height:200px;
}


.header-list {
	float:right;
	display: flex;
	padding: 50px 20px;
	margin: 0 auto;
	text-align: center; 

}


@media(max-width:670px){
	.header-list{
	  flex-wrap: wrap;
	}
	.header-list a{
	  width:100%;
	}
}




.header-list a{
	display:inline-block;
	padding: 0 10px;
}


.btn_1{
	background-color: #111;
	color: #fff;
	font-size: 20px;
	padding: 10px 50px 10px 50px;
	margin: 0px 10px 10px 0px;
	line-height: 50px;
	display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}
.btn_1:hover{
	opacity: 1;
	background-color: yellow;
	color: #111;
	box-shadow: 0px 5px #1a7940;
} 


.box1 p{
	padding: 50px 0px 0px 0px;
	font-size: 55px;
	line-height: 2;
	text-align: center;
}
.btn1{
	background-color: #111;
	color: #fff;
	font-size: 20px;
	padding: 10px 50px 10px 50px;
	line-height: 50px;
	display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}
.btn1:hover{
	opacity: 1;
	background-color: yellow;
	color: #111;
	box-shadow: 0px 5px #1a7940;
  } 


.box4{
	background-color: #fff;
	padding: 5px 0px;
	text-align: left;
	/* background-image: url(../img/ピンクと白とオレンジ\ スキンケア\ 美容\ ファッション\ YouTubeのエンディング動画.gif); */
}
.box4 h3{
	line-height:2.0;
	text-align: left;
}
.box4 p{
	font-size: 16px;
	line-height: 2.0;
}


.box5{
	background-color: #fff;
	padding: 5px 0px;
	height: 200px;               
	overflow-x: scroll;   
	/* background-image: url(../img/ピンクと白とオレンジ\ スキンケア\ 美容\ ファッション\ YouTubeのエンディング動画.gif);        */
}
.box5 h3{
	line-height: 2.0;
	text-align: left;
}
.box5 ul {
	font-size: 16px;
	padding: 0px 30px;
	line-height: 2.0;
	width: 400px;
	text-align: left;
}


.footer {
	/* background-image: url(../img/ゆるキャラバナー.gif); */
	background-image: url(../img/ゆるキャラ白書ロゴ\ 小.png);
}


.btn{
	padding: 8px 24px;
	color: white;
	display: inline-block;
	opacity: 0.8;
	border-radius: 4px;
}
.btn-wrapper p{
	margin: 10px 0;
  }
.btn:hover{
	opacity: 1;
}


.facebook{
	background-color:#3b5998;
}
.twitter{
	background-color:#55acee;
}
.line{
	background-color:#00B900;
}

a.wikipedia{
	text-decoration-color: #3b5998;
}
  


  