<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<!--cssを読み込むリンク -->
<link rel="stylesheet" href="css/style.css">
<!--ここまでに記述--> 
   
    <title>卒業制作base</title>
</head>
<body>

    <div class = "header1">
        <div class = "header2">
          <img src="../templates/img/ゆるキャラ白書ロゴ (1).png" alt="head">
          
       <div class = "header-list">
        <!-- <div class="clear"> -->
                <p>
            <a href="#link1" class="btn_1">★ゆるキャラ★白書って何？★</a>
          </p>
          <p>
            <a href="#link2" class="btn_1">★おしらせ★</a>
          </p>
          <p>
            <a href="#link3" class="btn_1">★リンク★</a>
          </p>
        </div>
      </div>
    </div>
    <!-- </div> -->

    {% block yurumoto %}








    
    {% endblock %}
    
    <div class = "footer">
        <!-- <div class = "footer-logo">投稿してね -->
        <!-- <div class = "footer-list"> -->
           <!-- <p>
             投稿してね！
           </p>
            -->
             <div class="btn-wrapper">
               <a href="https://ja-jp.facebook.com/" class="btn facebook">
                 <span class = "fab fa-facebook"></span>
                 シェア!</a>
               <a href="#" class="btn twitter">
                 <span class ="fab fa-twitter"></span>
                 つぶやく</a>
               <a href="#" class="btn line">
                 <span class = "fab fa-line"></span>
                 おくる</a>
             </div>
        
        </div>
























    
</body>
</html>