<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<!--cssを読み込むリンク -->
<link rel="stylesheet" href="../css/style.css">
<!--ここまでに記述-->


    <title>卒業制作</title>
    <div class = "header1">
        <div class = "header2">
          <img src="../img/ゆるキャラ白書ロゴ (1).png" alt="head">
          
       <div class = "header-list">
        <!-- <div class="clear"> -->
                <p>
            <a href="#link1" class="btn_1">★組み合わせ★</a>
          </p>
          <p>
            <a href="top.html" class="btn_1">★ホームに戻る★</a>
          </p>
          <!-- <p>
            <a href="#link3" class="btn_1">★出典元★</a>
          </p> -->
        </div>
      </div>
    </div>
    <!-- </div> -->
</head>
<body>
    
</body>
</html>
<link rel="stylesheet" href="../CSS/serch.css">

    
	<section id="sec1">
			<!-- <h1>
                素材をえらんでね 
               <div class ="pushbt">
                    <button type="push"><img src="../img/Push.gif" alt="送信" /> </button>
                </div>
 -->

            <!-- </h1>
             --> 
           
                
            
		
		
	    <section id="sec2">
			<div class="serch_flex_area">
            
				<div class ="serch_gazou">
                  
						
				
                    <div class="container_grid"><a id="link1"></a>
                        <div class="big_A" id="big_A">
                        <!-- <p><img src="'span4'.gif"></img></p> -->
                        </div>

                        <h3>一つ目の素材を選択してね</h3>
                        <input type="radio" name="radio_A" value="tori" id="tori" checked><label for="tori"></label>
                        <input type="radio" name="radio_A" value="kuma" id="kuma"><label for="kuma"></label>
                        <input type="radio" name="radio_A" value="neko" id="neko"><label for="neko"></label>
                        <input type="radio" name="radio_A" value="準備中1" id="zyunnbi1"><label for="zyunnbi1"></label>
                        <input type="radio" name="radio_A" value="準備中2" id="zyunnbi2"><label for="zyunnbi2"></label>
                        <input type="radio" name="radio_A" value="準備中3" id="zyunnbi3"><label for="zyunnbi3"></label>
                        <input type="radio" name="radio_A" value="準備中4" id="zyunnbi4"><label for="zyunnbi4"></label>
                        <input type="radio" name="radio_A" value="準備中5" id="zyunnbi5"><label for="zyunnbi5"></label>
                        <input type="radio" name="radio_A" value="準備中6" id="zyunnbi6"><label for="zyunnbi6"></label>


    
                    </div> 
				</div> 

                <div class ="pushbt">
                    <button type="push"><img src="../img/Push.gif" alt="送信" /> </button>
                </div>


                <div class ="serch_gazou">
                



                    
                    <div class="container_grid">
                        <div class="big_B" id="big_B"></div>
                        <h3>二つ目の素材を選択してね</h3>
                        <input type="radio" name="radio_B" value="taoru" id="taoru" checked><label for="taoru"></label>
                        <input type="radio" name="radio_B" value="yoroi" id="yoroi"><label for="yoroi"></label>
                        <input type="radio" name="radio_B" value="fruits" id="fruits"><label for="fruits"></label>
                        <input type="radio" name="radio_B" value="準備中11" id="zyunnbi11"><label for="zyunnbi11"></label>
                        <input type="radio" name="radio_B" value="準備中12" id="zyunnbi12"><label for="zyunnbi12"></label>
                        <input type="radio" name="radio_B" value="準備中13" id="zyunnbi13"><label for="zyunnbi13"></label>
                        <input type="radio" name="radio_B" value="準備中14" id="zyunnbi14"><label for="zyunnbi14"></label>
                        <input type="radio" name="radio_B" value="準備中15" id="zyunnbi15"><label for="zyunnbi15"></label>
                        <input type="radio" name="radio_B" value="準備中16" id="zyunnbi16"><label for="zyunnbi16"></label>


                        
                       
                    
                    
                    </div>
				



			    </div>
            <!-- <div> -->
                    
                <!-- <button>ボタン</button> -->
                    
                    
            </div>
        <!-- <div class="select_area">
            -->
        </section>        
            
        <!-- </div> -->
        
        







	</section>
    <div class = "footer">

        <div class="btn-wrapper">
          <a href="https://ja-jp.facebook.com/" class="btn facebook">
            <span class = "fab fa-facebook"></span>
            シェア!</a>
          <a href="https://twitter.com/" class="btn twitter">
            <span class ="fab fa-twitter"></span>
            つぶやく</a>
          <a href="https://line.me/ja/" class="btn line">
            <span class = "fab fa-line"></span>
            おくる</a>
        </div>
   
   </div>
   </div>


</body>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>  
    <script src="../JS/serch_style.js"></script>






    
<!-- {% endblock %} -->
