{% extends 'base_2.html' %}
{% block yurumoto %}
<!--cssを読み込むリンク -->
<link rel="stylesheet" href="css/style.css">
<!--ここまでに記述--> 
<div class= "wrapper">
   <div class="container">


 <div class="box1">
     <p>ゆるキャラ<br>
        ぞくぞく<br>
        見つかる！
      </p>

  <a href="#" class="btn1">ゆるキャラ★を見つける👆</a>
  
  </div>

 <div class = "box4">
   <h3><a id="link1">★ゆるキャラ★白書って何？★</a></h3>
    <p>
        ゆるキャラを検索したり新しく作りたい人向けのゆるキャラメーカーというプロダクトです。<br>
        これは単なるゆるキャラを紹介したサイトとは違ってキーワードとキーワードを組み合わせて表示する機能が備わっています。<br>
        将来的には作ったオリジナルのゆるキャラも投稿できるようになります。	                                                           
    </p>  
 </div>
 <div class = "box5">
   <h3><a id="link2">★おしらせ★</a></h3>
   <ul>
      <u>
    <li>2022.12.14 新キャラ追加!!(3種類)</li>
    <li>2022.12.12 サーバーメンテナンスのお知らせ</li>
    <li>2022.12.10 新キャラ追加!!(2種類)</li>
    <li>2022.12.3  ページの不具合について</li>
    <li>2022.12.1  新キャラ追加!!（3種類）</li>
    <li>2022.12.1  ゆるキャラ始まりました!!</li>
   </u>
   </ul>
</div>
</div>

{% endblock %}